body{
	font-family: Tahoma;
	font-size: 13px;
	width: 1000px;
	margin: 0px auto;
	background: #ccc;
}
#contain-all-div{
	background: #FFF;
}

#menu-top ul{
	margin: 0px;
	padding:0px;
}
#menu-top ul li ul li a{
	background:#141414;
	color: #FFF;
	height: 40px;
	display: block;
	line-height: 40px;
	border-top: 1px #ccc solid;
	width: 100px;
}
#menu-top ul li ul li{
	clear: left;
}
#menu-top ul li ul{

	display: none;
	position: absolute;
	 z-index:10;

}
#menu-top ul li:hover ul{
	display: block;
}
#menu-top ul li a:hover{
	background:blue;
}

#menu-top  ul li{
	position: relative;
	list-style: none;
	float: left;
	width: 120px;
}
#menu-top #menu-top-left ul li a{
	text-decoration: none;
	line-height: 40px;
	color: #FFF;
	height: 40px;
	display: block;
	padding: 0px 20px 0px 20px;
	border-right: 1px solid #f1f1f1;
}
#menu-top ul li a.acctive{
	background:blue;
}
#menu-top #menu-top-right ul li a{
	text-decoration: none;
	color: #FFF;
	line-height: 40px;
	display: block;
	text-align: center;
}
#menu-top #menu-top-right ul li{
	float: right;
}

#menu-top{
	background: #141414;
	height: 40px;
}
#banner{
	height: auto;
	width: 1000px;
}
#banner img{
	width: 1000px;
}
#main{
	margin-top:10px;
}
#main #left{
	width:60%;
	float: left;
	min-height: 400px;
}
#main #left  h2{
	float: left;
	margin-bottom: 20px;
}
#main #left p{
	font-size: 15px;
	display: block;
}

#main #left ul{
	margin: 0px;
	padding: 0px;
	width: 600px;
}
#main #left ul span{
	float:left;
	font-size: 20px;
	background: #ffe866;
	text-decoration: none;
}
#main #left ul li{
	list-style: none;
	clear: left;
	border-bottom: 2px solid #ccc;
	float: left;
	margin-bottom: 20px;
	/* width: 600px; */
}
#main #left ul li img{
	float: left;
	margin-right: 10px;
	margin-bottom: 20px;
	width: 200px;
}

#main #right{
	width: 40%;
	float: left;
	min-height: 400px;
}
#main #right .menu_right ul{
	margin: -15px 0px 0px 0px;
	padding: 0px;
	border: 1px solid #ccc;
}
#main #right .menu_right ul li{
	list-style: none;
}
#main #right .menu_right ul li a{
	text-decoration: none;
	display: block;
	line-height: 30px;
	border-bottom: 1px #ccc solid;
	background: url(../images/check.png) no-repeat 3px;
	text-indent: 30px;
}
#main #right .menu_right ul li a:hover{
	color: orange;
}
#main #right .menu_right  h3{
	background: #194d58 url('../images/menu.png') no-repeat 3px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	text-indent: 40px;
}
#main #right .menu_right_bottom > h3{
	background: #194d58 url('../images/document.png') no-repeat 3px;
	height: 40px;
	line-height: 40px;
	color: #FFF;
	text-indent: 40px;
}
#main #right .menu_right_bottom  p{
	text-indent: 150px;
}
#main #right .menu_right_bottom ul{
	list-style: none;
	margin-bottom: 30px;
	border-bottom: 2px solid #ccc;
}
#main #right .menu_right_bottom ul{}
#footer{
	background: #222c37;
	width: 1000px;
	height: 150px;
	color: #fff;
	clear: left;
	margin-top: 10px;
}
#footer .footer-menu{
	float: left;
	width: 300px;
}
#footer ul li{
	list-style: none;
	display: block;
	margin: 5px 0px 0px 0px;

}
#footer ul li a{
	text-decoration: none;
	color: #FFF;
}
#footer h3{
	clear: left;
	padding: 10px 0px 0px 35px;
	margin: 0px;
}

/* cho nay css cua contact */
#banner-contact img{
	width: 1000px;
}
#content-contact h2{
	font-size: 40px;
	text-align: center;
}
#content-contact p{
	font-size: 20px;
}
#content-contact{
	height: 300px;
}
#banner-report-left .field{
	display: block;
	margin-bottom: 15px;
	font-size: 20px;
	width: 400px;
}
#banner-report-left #noidung{
	height: 100px;
}
#banner-report-left{
	
	float: left;
	width: 50%;
}

#banner-report{
	width: 1000px;
}
#banner-report h3{
	text-align: center;
	font-size: 40px;
}
#banner-report-right{
	float: left;
	display: block;
	width: 50%;
}
#banner-report-right ul a{
	text-decoration: none;
	font-size: 17px;
}
#banner-report-right ul li{
	list-style: none;
	margin-top: 10px;

}
#banner-report-right h3{
	font-size: 30px;
	text-indent: 35px;
	border-bottom: 2px solid green;
}

#banner-creator{
	height: 800px;
	width: 1000px;
	background: #222c37;
	margin-bottom: 10px;
}

#banner-creator .creator{
	width: 200px;
	display: block;
	float: left;
	margin: 0px 60px 0px 60px;
}
#banner-creator .creator1{
	width: 200px;
	display: block;
	float: left;
	margin: 0px 100px 0px 150px;
}
#banner-creator h2{
	text-align: center;
	color: #fff;
	font-size: 40px
}
#banner-creator .avatar img {
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
border: 2px solid #ccc;
}
#banner-creator .infor h4{
color: #fff;
font-size: 20px;
text-align: center;
}
#banner-creator .infor h5{
	color: #fff;
	text-align: center;
}

/* định dạng cho button */
#myBtn {
  display: none; /* Mặc định button sẽ được ẩn*/
  position: fixed;
  bottom: 20px;
  right: 30px; 
  z-index: 99; /* button được ưu tiên hiển thị đè lên các phần khác*/
  border: none;
  outline: none;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  background: url('../images/arrow-up.png') no-repeat 0px;
  background-color: blue;
  text-indent: 15px;
}
 
#myBtn:hover {
  background-color: #555;
}


/* element detail lear */
#learn-body-left{
	width: 250px;
	min-height: 500px;
	float: left;
	background-color: #fff;

	/* border-right:2px solid #ccc; */

}
#learn-body-left h3{
	background: #194d58 url('../images/menu.png') no-repeat 3px;
	height: 50px;
	line-height: 50px;
	text-indent: 50px;
	color: #FFF;
	/* width: 250px; */
}
#learn-body-left ul{
	display: block;
	clear: left;
	/* rong */

}
#learn-body-left ul li{
	list-style: none;
	clear: left;
	
}
#learn-body-left ul li a{
	display: block;
	text-decoration: none;
	font-size: 15px;
	color: black;
	line-height: 30px;
	border-bottom: 1px solid black;
	margin-bottom: 5px;
	margin-right: 10px;

}
#learn-body-left ul li a:hover{
	border-left: 5px solid green;
	background-color: #33a58b;
	color: #fff;

}
#learn-body-right{
	margin-left:10px;
	width: 74%;
	min-height: 1000px;
	float: left;
	background-color: #fff;
}
#learn-body-right p{
	margin-left: 10px;
}
#learn-body-right-bottom{
	padding: 15px 5px 0px 10px;
	border-top: 2px solid black;
}
#learn-body-right-bottom .contentcmt{
	padding-top: 5px;
	background-color: #f5f5f5;
}
#document-main{
	clear: left;
	min-height: 800px;
	padding: 10px 10px 10px 10px;
}
#document-main h2{
	padding-top: 20px;
	text-align: center;
}
#discuss-main{
	min-height: 500px;
	padding: 10px;
}

#discuss-main span{
	color: blue;
}
#discuss-main .discuss-post-bottom{
	background-color: #f5f5f5;
	min-height: 50px;
}
#discuss-main li{
	background-color: #f5f5f5;
	list-style: none;

}
#discuss-main .discuss-post-bottom .discuss-post-reply h5{
	color: red;
}